@use 'fonts';

$primary-color: #5C8984;
$secondary-color: #374259;
$accent-color: #F2D8D8;
$body-text-color: #fff;
$heading-font-family: 'Alata', sans-serif;
$body-font-family: 'Alata', sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;

